<!--
  <div style="text-align:center">
  <h1>{{ title }}</h1>
-->

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">{{ title }}</a>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>

<app-data></app-data>
